[Oo]bj
[Bb]in
[Dd]ebug
[Rr]elease
*.user
*.suo
*.ide
Settings.StyleCop
StyleCop.cache
NCldrData/*
NCldr.Tests/*
NCldr.IntegrationTests/*
packages/*
Libraries/Protobuf-Net/protobuf-net.dll
Libraries/Protobuf-Net/protobuf-net.pdb
Libraries/Protobuf-Net/protobuf-net.xml